.navbar{
  border-radius: 0px;
  margin-bottom: 0px;
  /*background-color: white;*/

}

ul li a{
  color: white;
}

ul li.active a {
  color: white;
  background-color: #199427;
}

.navbar-brand{
  padding: 0 0;
  border-radius: 100px;
  -moz-border-radius:100px;
  -webkit-border-radius:100px;
}

.navbar-brand img{
  border-radius: 100px;
  margin-left: 10px;
}

.navbar.navbar-inverse{
  background-color: #1f601f;

}
ul.dropdown-menu li a{
  color: #888;
}
.dropdown ul li a {
  background-color: white !important;
}

a.phone-number{
  text-decoration: none;
  color: red;
}
a:hover.phone-number{
  text-decoration: none;
}

.text-slogan{
  text-transform: uppercase;
}

.container.top-menu {
  margin-left: 6px;
  width: 100%;
  padding-right: 42px;
}
.navbar-inverse{
  border-color: #1f601f;
}


