/* You can add global styles to this file, and also import other style files */
.text-white{
  color: white;
}

.text-blue{
  color: #1f601f;
}

.top-banner{
  background-color: #fff;
  padding-bottom: 5px;
  padding-top: 5px;

}

.row.top-banner{
  margin-left: 0px;
  margin-right: 0px;
}
